@model Product

@* 使用Bootstrap的卡片樣式，將內容包裝成一個獨立的區塊；加上Shadow陰影；移除Border邊框；上下邊距4(X左右，Y上下) *@
<div class="card shadow border-0 my-4">
	@* 這是卡片標題部分，通常放置標題或操作按鈕；bg-secondary表示使用次要色背景；bg-gradient背景漸層；ml-0左側外邊距0避免內縮 *@
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">

				<div class="text-white py-2">Delete Product</div>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row">
			<input asp-for="Id" hidden />
			@* 表單標籤，method="post"指定了表單提交的方式為POST，表示數據會被發送到伺服器處理 *@
			<div class="border p-3">
				@* <div asp-validation-summary="ModelOnly"></div> *@
				<div class="form-floating py-2 col-12">
					<input asp-for="Title" disabled class="form-control border-0 shadow" />
					<label asp-for="Title" class="ms-2"></label>
					<span asp-validation-for="Title" class="text-danger"></span>		@* 顯示錯誤 *@
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Description" disabled class="form-control border-0 shadow" />
					<label asp-for="Description" class="ms-2"></label>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Author" disabled class="form-control border-0 shadow" />
					<label asp-for="Author" class="ms-2"></label>
					<span asp-validation-for="Author" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="ListPrice" disabled class="form-control border-0 shadow" />
					<label asp-for="ListPrice" class="ms-2"></label>
					<span asp-validation-for="ListPrice" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Price" disabled class="form-control border-0 shadow" />
					<label asp-for="Price" class="ms-2"></label>
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Price50" disabled class="form-control border-0 shadow" />
					<label asp-for="Price50" class="ms-2"></label>
					<span asp-validation-for="Price50" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Price100" disabled class="form-control border-0 shadow" />
					<label asp-for="Price100" class="ms-2"></label>
					<span asp-validation-for="Price100" class="text-danger"></span>
				</div>
				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-danger form-control">Delete</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">Back to List</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>